:root {
  --sidebar-padding-x: 1rem;
}

/* =========================
   SIDEBAR CONTAINER
========================= */
.profile-sidebar {
  position: sticky;
  top: 0;
  left: 0;

  width: 320px;
  min-width: 320px;
  height: 100vh;

  background: #17559c;
  color: white;
  padding:4rem var(--sidebar-padding-x);

  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  overflow: visible;
  z-index: 10;
}


/* =========================
   SIDEBAR TITLE
========================= */
.sidebar-title {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  padding-left: 5.5rem;
  color: white;
}

/* =========================
   MENU CONTAINER
========================= */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  justify-content: center;
  height: 500px;
  position: relative;
  z-index: 2;
}

/* =========================
   MENU ITEMS
========================= */
.menu-item {
  position: relative;
  width: 100%;
  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: 1.2rem 2rem 1.2rem 6.5rem;

  overflow: visible;
  transform-origin: center;

  z-index: 1;
}

.menu-item.active {
  z-index: 5;
}

.menu-text {
  position: relative;
  z-index: 2;
  font-size: 1rem;
  color: #311538;
}


/* =========================
   ACTIVE BAR (SVG)
========================= */
.active-bar-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: translateX(16px);
  z-index: 0;
}

.active-bar-path {
  fill: #ffffff;
}

/* =========================
   MASK RECTANGLES
========================= */
.mask-top,
.mask-bottom {
  position: absolute;
  left: 16px;
  width: 100%;
  height: 18px;
  background: #17559c;
  pointer-events: none;
  z-index: 1;
  transform-origin: right center;
}

.mask-top {
  top: 0;
  border-bottom-right-radius: 40px;
}

.mask-bottom {
  bottom: 0;
  border-top-right-radius: 40px;
}

@media (max-width: 900px) {
  .profile-sidebar {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}
