.sidebar {
  width: 200px;
  background: #f0f0f0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  position: relative;
  cursor: pointer;
  padding: 20px 10px 20px 10px;
  overflow: hidden;
}

.menu-text {
  position: relative;
  z-index: 3;
  text-align: right;
}
