/* =========================
   PAGE STYLES
========================= */
.test-page {
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.test-description {
  margin-bottom: 2rem;
}

.test-sandbox {
  display: flex;
  gap: 20px;
}

/* =========================
   SIDEBAR
========================= */
.sidebar {
  background: #17559c; /* dark blue */
  color: white;
  padding: 3.5rem 1rem;
  border-radius: 24px;
  width: 220px;
  position: relative;
 
}

.sidebar:has(.menu-item.active) {
  width: 200px;
}

/* Sidebar menu container */
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
  z-index: 1;
}

/* =========================
   MENU ITEMS
========================= */
.menu-item {
  position: relative;
  cursor: pointer;
  padding: 0.9rem 2rem;
  overflow: visible; /* allow pill & polygon to overflow */
  background: transparent;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  border: none;
  text-align: left;
  width: 185px; /* change to move the edge of the polygon cone */
  transition: opacity 0.25s ease;
}

.menu-item:hover {
  opacity: 1;
}

/* Menu text */
.menu-text {
  position: relative;
  z-index: 2;
}


/* =========================
   POLYGON CONE
========================= */
.active-bar-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.active-bar-path {
  fill: #ffffff; /* blue */
}
